@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Mattone;
  src: url("/fonts/Mattone.otf") format("opentype");
}

:root {
  font-family: Mattone;
  font-size: 14px
}

h1, p {
  font-family: Montserrat, Helvetica, sans-serif;
}

h1 {
    @apply text-3xl xl:text-5xl uppercase font-light text-center px-8 xl:px-16 tracking-tight
}

.btn {
    @apply py-2 xl:px-8 px-2 ring-2 ring-white rounded-full hover:ring-4 focus:ring-4 transition-all focus:outline-none
}

.gradient {
    background: linear-gradient(-20deg, rgb(5,255,241) 25%, rgb(255,84,112) 75%);
}